# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# =====================
# Jupyter / ML
# =====================
.ipynb_checkpoints/
*.h5
*.keras
*.pt
*.pth
*.onnx

# =====================
# Dataset (MEDICAL DATA)
# =====================
dataset/
data/
*.zip

# =====================
# Logs & temp files
# =====================
*.log
tmp/
temp/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# VS Code
# =====================
.vscode/

# =====================
# Node / Frontend
# =====================
node_modules/
dist/
build/

# =====================
# Security
# =====================
*.pem
*.key
