{% extends "base.html" %}
{% block content %}

<div class="container py-5" style="max-width:400px;">
    <div class="card shadow-sm rounded-4 p-4">
        <h5 class="fw-bold text-center mb-4">
            Login Dokter
        </h5>

        {% if error %}
        <div class="alert alert-danger small">
            {{ error }}
        </div>
        {% endif %}

        <form method="post">
            <div class="mb-3">
                <label class="small fw-bold">Username</label>
                <input type="text" name="username" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="small fw-bold">Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <button class="btn btn-dark w-100 py-2 fw-bold">
                Masuk
            </button>
        </form>
    </div>
</div>

{% endblock %}
